doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
  body
  include header.jade
  != yield
