h1.heading Electrolysis
div.treatment
  div.price-list.jumbotron__container
    h2.section__heading Price List
    div.hours__time
      span 15 mins
      span £13.00
      
    div.hours__time
      span 30 mins
      span £24.00


h1.heading Advance Electrolysis
div.treatment
  div.price-list.jumbotron__container
    h2.section__heading Price List
    div.hours__time
      span Skin Tags
      span £45.00 For 10 Mins
      
    div.hours__time
      span Facial Thread Veins
      span £55.00 For 10 Mins
