h1.heading Eyes

div.treatment
  div.price-list.jumbotron__container
    h2.section__heading Price List
    div.hours__time
      span Brow Tint
      span £8.00
    
    div.hours__time
      span Lash Tint
      span £15.00
    
    div.hours__time
      span Eyebrow Shaping	
      span £7.00
    
    div.hours__time
      span Brow Tidy
      span £5.00
    
    div.hours__time
      span Nouveau individual lashes
      span £75.00
