section.slideshow-wrapper#bxslider
  //- img.slideshow__img(src='img/jumbo.png')
  //- div.slideshow
    //- img.slideshow__img(src='img/jumbo.png')
  div.slideshow
    span.special-offer Valentine's Special
    img.slideshow__img(src='https://as1.ftcdn.net/jpg/00/85/18/64/500_F_85186489_WqOkDsKBhwapK7qC4GnwktRyVMLjYpau.jpg')
    div.slideshow__info
      h2.slideshow__title £250 laser hair removal treatment
      p.slideshow__content six session upperlip laser hair removal( 42 per  session) T & C Applies.
      
  div.slideshow
    span.special-offer Valentine's Special
    img.slideshow__img(src='https://as2.ftcdn.net/jpg/00/57/89/73/500_F_57897396_TOhZ9Tk7D0QpQWWJVyTci6YTjB6dgN9z.jpg')
    div.slideshow__info
      h2.slideshow__title 20% OFF* ON ALL WAXING TREATMENTS
      p.slideshow__content Wax your way to beauty.
      //-   a(href='#').button.slideshow__button Find Out More
      
  div.slideshow
    span.special-offer Valentine's Special
    img.slideshow__img(src='https://as2.ftcdn.net/jpg/00/61/07/49/500_F_61074922_zn0sre0i6KRw4rRqHhN2hRzo2K43xnTn.jpg')
    div.slideshow__info
      h2.slideshow__title DermaPen Treatment  
        span.overline £180.00
        span £80.00 
      p.slideshow__content DermaPen is a skin micro-needling treatment with minimum downtime which promotes scarless healing and natural collagen production in the skin to improve the appearance of scars, acne scarring, stretch marks, wrinkles, pigmentation and rejuvenate the skin.
    
  //- div.slideshow__text-wrapper
  //-   h1.slideshow__text Specialisd in advance skin treatments
  //-   h1.slideshow__text & laser hair removal
 
section.section-wrapper
  div.section
    h2.section__heading Popular treatments
    div.grid
      figure.effect-lilly
        img(src='https://as1.ftcdn.net/jpg/00/60/97/10/500_F_60971054_EpTwFUiISTIyQd59nNo5xXlwin9aVaba.jpg' width='350px')
        figcaption
          h2.popular__heading Laser Treatments
          p  Click Here To Find Out More
          a(href='laser-treatment') view More
      
      figure.effect-lilly
        img(src='https://as1.ftcdn.net/jpg/00/60/97/10/500_F_60971054_EpTwFUiISTIyQd59nNo5xXlwin9aVaba.jpg' width='350px')
        figcaption
          h2.popular__heading Facial Treatments
          p  Click Here To Find Out More
          a(href='#') view More
      
      figure.effect-lilly
        img(src='https://as2.ftcdn.net/jpg/00/47/17/73/500_F_47177315_ju58YMhrW1Ow9KRWBtuwjlzWU07oYpf8.jpg' width='350px')
        figcaption
          h2.popular__heading Electrolysis & Advance Electrolysis
          p  Click Here To Find Out More
          a(href='#') view More
      
      figure.effect-lilly
        img(src='https://as2.ftcdn.net/jpg/00/47/17/73/500_F_47177315_ju58YMhrW1Ow9KRWBtuwjlzWU07oYpf8.jpg' width='350px')
        figcaption
          h2.popular__heading Waxing & Threading
          p  Click Here To Find Out More          
          a(href='#') view More

section.section-wrapper
  div.section
    div.opening-wrapper
    h2.section__heading Opening Times

    div.jumbotron__container.hours
      div.hours__time
        span Monday
        span Closed
      
      div.hours__time
        span Tuesday
        span 10:00 - 18:00
      
      div.hours__time
        span Wednesday
        span 10:00 - 20:00
      
      div.hours__time
        span Thursday
        span 10:00 - 18:00
      
      div.hours__time
        span Friday
        span 10:00 - 18:00

      div.hours__time
        span Saturday
        span 09:00 - 17:00
          
      div.hours__time
        span Sunday
        span Closed

  div.section
    h2.section__heading Contact Us
    p Please feel free to contact Ritz Laser Clinic in Northwood, London regarding any matter you wish to discuss or with queries you might have. You can contact us using any of the following:
    form(action='//formspree.io/priyesh114@hotmail.co.uk' method='POST')
      div
        label Your Name:
        input(type='text' name='customer-name')
      
      div 
        label Your Email:
        input(type='text' name='customer-email')
      
      div
        label Message:
      input(type='textarea' name='message')
      
      div.button-wrapper
        a.button(href='#' id='contact-submit') submit
      
h2 Company logos
div
  //- img(src='https://web.archive.org/web/20160313085312im_/http://ritzlaserclinic.com/wp-content/uploads/2013/12/polaris-logo.jpg')
  
