h1.heading ND YAG LASER TREATMENT

section.treatment-wrapper
  div.treatment
    p.treatment__content Laser hair removal is a non-invasive and extremely effective therapy which can significantly reduce the growth of unwanted hair.
    p.treatment__content Unwanted hair from excessive or inappropriate hair growth may appear for a variety of reasons. This can cause immense distress and effect self esteem.
    p.treatment__content Methods such as shaving, waxing, chemical removal and electrolysis all have significant limitations and are not always appropriate or effective. The most recent innovation is the use of laser technology, which provides a more effective alternative. The Polaris laser hair removal system can now offer a treatment which is more permanent and efficient than other treatments currently available.
    p.treatment__content Most important question comes in mind while considering having laser treatments.
    
    h3.treatment__heading How does it work?
    p.treatment__content The Polaris laser emits an intense beam of light which passes safely through the upper skin layers to the underlying strata.
    p.treatment__content Hair follicles are then eliminated by a process known as selective photothermolysis, which treats the problem without harming the skin.
    
    h3.treatment__heading Is the process safe?
    p.treatment__content This process is completely harmless and totally safe when administered by a trained laser technician. All our laser technicians have successfully completed the accredited Polaris training course.
    
    h3.treatment__heading How does it feel?
    p.treatment__content Patients may experience slight discomfort during the treatment but with no long term effects. It is generally accepted however, that laser hair removal is more comfortable than waxing or electrolysis and has a far superior recovery rate.
    
    h3.treatment__heading How many treatments are needed?
    p.treatment__content Due to the natural growth cycle of each hair follicle, several treatments may be required to achieve optimal results. Each hair follicle goes through growing and resting phases, but hair is most sensitive to laser treatment whilst in the growing (anagen) phase.
    p.treatment__content In most patients, successful removal can be achieved following a short course of treatments.
    
    div.price-list.jumbotron__container hours
      h2.section__heading Price List
      div.hours__time
        span Patch test
        span £21.50 Redeemed on your first treatment with us
      div.hours__time
        span Face area 1
        span £60.00
      
      div.hours__time
        span Face area 2
        span £80.00
      
      div.hours__time
        span Full face
        span £100.00
      
      div.hours__time
        span Full arms
        span £140.00
      
      div.hours__time
        span Full chest (men)	
        span £180.00

      div.hours__time
        span Full back Inc. shoulders
        span £220.00

      div.hours__time
        span Stomach area
        span £150.00

      div.hours__time
        span ½ leg
        span £170.00

      div.hours__time
        span ¾ legs (top legs)
        span £190.00

      div.hours__time
        span Full legs
        span £250.00

      div.hours__time
        span Bikini line
        span £70.00
      
      div.hours__time
        span Full bikini	
        span £90.00
