h1.heading Red Blue Light Therapy

div.treatment
  div.price-list.jumbotron__container
    h2.section__heading Price List
    div.hours__time
      span 45 mins
      span £40.00
  
  ul
    li Lighten and smooth the look of skin
    li Reducing the appearance of both wrinkles and fat deposits
    li Enhance skin texture, anti-wrinkle, helps fight fatty areas, tightens and firms.
    li Lighter skin appearance
    li Minimizing pores
 
