h1.heading Waxing & Threading
div.treatment
  p Australian crème wax with the choices of Tea Tree and Honey Wax including antiseptic properties to promote skin healing.
  
  div.price-list.jumbotron__container hours
    h2.section__heading Price List
    div.hours__time
      span Full Face
      span £16.00
    
    div.hours__time
      span Chin
      span £5.00
    
    div.hours__time
      span Lip & Chin
      span £8.00
    
    div.hours__time
      span Upper Lip
      span £5.00
    
    div.hours__time
      span Full Back	
      span £25.00

    div.hours__time
      span Stomach
      span £18.00

    div.hours__time
      span Full Legs
      span £22.00

    div.hours__time
      span Lower Legs
      span £12.00

    div.hours__time
      span ¾ legs
      span £19.00

    div.hours__time
      span Hollywood
      span £25.00

    div.hours__time
      span Brazilian
      span £18.00
    
    div.hours__time
      span Bikini line
      span £10.00

    div.hours__time
      span Upper Thigh
      span £15.00

    div.hours__time
      span Full Arms
      span £12.00

    div.hours__time
      span Under Arms
      span £7.00

    div.hours__time
      span Eyebrow Threading	
      span £5.00

    div.hours__time
      span Upper Lip Threading	
      span £3.50

    div.hours__time
      span Full Face Threading
      span £16.00
